@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: #f0fdf4;
    --color-primary-100: #dcfce7;
    --color-primary-200: #bbf7d0;
    --color-primary-300: #86efac;
    --color-primary-400: #4ade80;
    --color-primary-500: #22c55e;
    --color-primary-600: #16a34a;
    --color-primary-700: #15803d;
    --color-primary-800: #166534;
    --color-primary-900: #14532d;

    --color-coffee-50: #faf6f1;
    --color-coffee-100: #f0e6d6;
    --color-coffee-200: #e0ccad;
    --color-coffee-300: #cdaa79;
    --color-coffee-400: #be8e50;
    --color-coffee-500: #b07a3b;
    --color-coffee-600: #996231;
    --color-coffee-700: #7d4b2b;
    --color-coffee-800: #693e28;
    --color-coffee-900: #5a3524;
}
